{% load static %}

<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="LMS Example for Impacta">
  <meta name="author" content="Yuri Dirickson">
  <link rel="icon" href="{% static 'favicon.ico' %}">

  <title>{% block titulo %}{% endblock %}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">
  <link href="{% static 'css/site.css' %}" rel="stylesheet">
  {% block links %}{% endblock %}
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand text-hide" href="{% url 'core:home' %}">
        <img src="{% static 'imagens/impacta-logo.png' %}" alt="logo da Impacta" />
        LMS IMPACTA
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Cursos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for curso in cursos_menu %}
                <a class="dropdown-item" href="{% url 'curriculo:curso' curso.sigla %}">{{ curso.sigla }}</a>
              {% empty %}
                <p class="p-3 text-muted">
                  Erro ao recuperar cursos
                </p>
              {% endfor %}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:contato' %}">Contato</a>
          </li>
        </ul>
          <ul class="navbar-nav">
            {% if not user.is_authenticated %}
            <li class="nav-item">
                <div class="btn-group" role="group">
                  <a class="btn btn-outline-primary" href="{% url 'core:login' %}">Entrar</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <img src="{% static 'imagens/profile.png' %}" class="avatar" alt="foto do usuário" />
                  Olá {{ user }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  {% if user.tipo == 'C'  %}
                    <a class="dropdown-item" href="#">Área do Coordenador</a>
                  {% elif user.tipo == 'P' %}
                    <a class="dropdown-item" href="{% url 'restrito:home_professor'  %}">Área do Professor</a>
                  {% else %}
                    <a class="dropdown-item" href="#">Área do Aluno</a>
                  {% endif %}
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'core:logout' %}">Sair</a>
                </div>
            </li>
            {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <main role="main">
    {% if messages %}
      {% for message in messages %}
        <div role="alert" class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    
    {% block main %}

    {% endblock %}

    <!-- FOOTER -->
    <footer class="text-white bg-secondary mt-3 py-3 px-2">
      <p class="float-right"><a href="#">Topo</a></p>
      <p class="text-center">{% now 'Y' %} Faculdade Impacta 11 3254-8300 Todos os direitos reservados.</p>
    </footer>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>